:root {
  /* Primary Colors */
  --primary-color: #ff6b6b;   /* Buttons, highlights */
  --primary-light: #ff9e9e;
  --primary-dark: #d95a5a;

  /* Neutral Colors */
  --text-color: #333333;
  --text-light: #555555;
  --text-muted: #777777;

  --background-color: #ffffff;
  --section-bg: #f8f8f8;

  /* Header & Navbar */
  --navbar-bg: #ffffff;
  --navbar-text: #333;
  --navbar-hover: #ff6b6b;

  /* Shadows */
  --shadow-soft: 0 2px 10px rgba(0, 0, 0, 0.05);
  --shadow-medium: 0 4px 20px rgba(0, 0, 0, 0.1);

  /* Others */
  --border-color: #e5e5e5;
}
*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* ........................................ */
/*  THIS STYEL YOUR  HOUSSEN */

/*  THIS STYEL YOUR  HOUSSEN */
/* ....................................... */





/* ................................................ */
/*  THIS STYEL YOUR GHITA */

.header{
    display: flex;
    gap: 2vw;
}

.header p{
    color: var(--text-light);
}
.header a{
    color: var(--text-light);
    text-decoration: none;
    font-size: 2vw;
}

.head{
    font-family: Arial, sans-serif;
    padding: 3vw 0 3vw 15vw;
    background:linear-gradient( to top, #f8f8f8, #dddcdcb5);
}

.head h1{
    padding-top: 3vh;
    color: var(--text-light);
    font-size: 4vw;
}
.head a:hover{
    color: #f6988a;
}
.nesciunt:hover{
    background-color: var(--primary-color);
}
.Eosle:hover{
background-color: var(--primary-color);
}
.Ledo:hover{
background-color: var(--primary-color);
}
.asperiores:hover{
background-color: var(--primary-color);
}
.velit:hover{
background-color: var(--primary-color);
}
.dolori:hover{
background-color: var(--primary-color);
}
.dolori, .velit, .asperiores, .Ledo, .Eosle, .nesciunt{
    width: 470px;
    height: 350px;
}
.containeR i{
    background-color: orangered;
   font-size: 20px;
   color: white;
 width: 50px;
 height: 50px;


}
.containeR {
    padding-top: 80px;
    padding-bottom: 110px;
     margin: 0 auto; 
}
.pourcentage .progress{
    color: #ff6b6b; 
    font-weight: bold;
}

.SKILs{
    padding-bottom: 50px;
}





/* THIS STYEL YOUR GHITA */
/* ................................................... */



/* ................................................ */
/* THIS STYEL YOUR DOUAE */



/* THIS STYEL YOUR DOUAE */
/* ................................................ */

