
:root {
    /* Primary Colors */
    --primary-color: #ff6b6b;   /* Buttons, highlights */
    --primary-light: #ff9e9e;
    --primary-dark: #d95a5a;

    /* Neutral Colors */
    --text-color: #333333;
    --text-light: #555555;
    --text-muted: #777777;

    --background-color: #ffffff;
    --section-bg: #f8f8f8;

    /* Header & Navbar */
    --navbar-bg: #ffffff;
    --navbar-text: #333;
    --navbar-hover: #ff6b6b;

    /* Shadows */
    --shadow-soft: 0 2px 10px rgba(0, 0, 0, 0.05);
    --shadow-medium: 0 4px 20px rgba(0, 0, 0, 0.1);

    /* Others */
    --border-color: #e5e5e5;
}
*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* ........................................ */
/*  THIS STYEL YOUR  HOUSSEN */

/*  THIS STYEL YOUR  HOUSSEN */
/* ....................................... */






/* ................................................ */
/*  THIS STYEL YOUR GHITA */
/* THIS STYEL YOUR GHITA */
/* ................................................... */






/* ................................................ */
/* THIS STYEL YOUR DOUAE */

/* HEAD */

body{
    background-color: var(--background-color);
}
.header{
    display: flex;
    gap: 1vw;
    align-items: center;
}

.header p{
    color: var(--text-light);
}
.header a{
    color: var(--text-light);
    text-decoration: none;
    font-size: 1vw;
}

.head{
    font-family: Arial, sans-serif;
    padding: 1vw 0 1vw 8vw;
    background:linear-gradient( to top, #f8f8f8, #dddcdcb5);
}

.head h1{
    padding-top: 3vh;
    color: var(--text-light);
    font-size: 2vw;
}
.head a:hover{
    color: #f6988a;
}

/* CONTENT + IMAGE */

.centent_image{
    padding: 5% 7vw 18% 7vw;
    display: flex;
    justify-content: space-between;
}
.div_contant{
    display: flex;
    gap: 5%;
    flex-direction: column;
    justify-content: start;
    width: 60vw;
    margin-right: 2%;
}

.div_contant h1{
    font-family: Arial, sans-serif;
    color: var(--text-light);
}

.div_contant samp{
    font-family: cursive;
    font-style: italic;
}
.spam{
    color: #8f8f8f;
}

.div_contant ul{
    padding-left: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: var(--text-light);
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}
.div_contant p{
    color: var(--text-light);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    letter-spacing: 0,5px;
}
































/* THIS STYEL YOUR DOUAE */
/* ................................................ */

